@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Teko:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #141414;
}

.header{
    width: 100%;
    max-width: 1304px;
    display: flex;
    justify-content: end;    
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.header-logo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.header_top{
    width: 100%;
    max-width: 944px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
}

.header_top-box{
    width: 100%;
    max-width: 140px;
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

.header_top-box-arch{
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 9px;
    line-height: 15.3px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFFBF;
    text-decoration: none;
}

.header_top-box-made{
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    line-height: 15.3px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.header_top-nav{
    width: 100%;
    max-width: 559px;
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

.header_top-nav-link{
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 34px;
    letter-spacing: 2.76px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    transition-duration: 500ms;
    transition-property: color;
    transition-timing-function: ease;
}

.header_top-nav-link:hover{
    color: #99823D;
    transition: 250ms ease;
}

.home{
    width: 100%;
    max-width: 1304px;
    display: flex;    
    margin: 0 auto;
    position: relative;
}

.home-imgsoc{
    width: 100%;
    max-width: 978px;
    display: flex;    
    flex-direction: column; 
}

.home-imgsoc-box{
    width: 100%;
    max-width: 978px;
    display: flex;   
    background-color: #EBEBEB;
}

.home-imgsoc-box-text{
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 68px;
    letter-spacing: 2.97px;
    text-transform: uppercase;
    color: #000000;
    padding-right: 34px;
    padding-left: 3px;
}

.home_vantage{
    width: 100%;
    max-width: 585px;
    display: flex;    
    flex-direction: column;     
    background-color: #FFFFFF;
    padding: 68px;
    position: absolute;
    top: 68px;
    left: 652px;
    z-index: 2;
}

.home_vantage-sub{
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 16.58px;
    letter-spacing: 2.76px;
    text-transform: uppercase;
    color: #99823D;
}

.home_vantage-title{
    font-family: Teko;
    font-weight: 400;
    font-style: Regular;
    font-size: 67px;
    line-height: 67.03px;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #141414;
    padding-top: 2px;
    padding-bottom: 32px;
}

.home_vantage-text{
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 17px;
    line-height: 25.5px;
    letter-spacing: 0%;
    color: #141414;
    width: 435px;
    padding-bottom: 15px;
}

.home_vantage-but{
    width: 100%;
    max-width: 448px;
    display: flex;    
    justify-content: space-between;
}

.home_vantage-but-explore{
    width: 100%;
    max-width: 216px;    
    background-color: #99823D;
    padding: 24px 69px 26px 72px;
    border: none;
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 17.85px;
    letter-spacing: 2.97px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.home_vantage-but-chat{
    width: 100%;
    max-width: 216px;    
    background-color: #141414;
    padding: 24px 58px 26px 60px;
    border: none;
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 17.85px;
    letter-spacing: 2.97px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;    
}

.home-color{
    z-index: 1;
    width: 489px;
    height: 329px;
    background-color: #99823D;
    position: absolute;
    bottom: 0;
    right: 0;
}

.about{
    background-color: #EBEBEB;
}

.about_container{
    width: 100%;
    max-width: 1176px;  
    margin: 0 auto;    
    display: flex;
    flex-direction: column;
    gap: 65px;
    padding-top: 136px;
    padding-bottom: 136px;
}

.about_container-top{
    width: 100%;
    max-width: 1176px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_container-top-box{
    width: 100%;
    max-width: 684px;  
    display: flex;   
    flex-direction: column;
}

.about_container-top-box-sub{
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 16.58px;
    letter-spacing: 2.76px;
    text-transform: uppercase;
    color: #99823D;
}

.about_container-top-box-title{
    font-family: Teko;
    font-weight: 400;
    font-style: Regular;
    font-size: 53px;
    line-height: 52.96px;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #141414;
    padding-top: 5px;
    padding-bottom: 28px;
}

.about_container-top-box-text1{
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 17px;
    line-height: 25.5px;
    letter-spacing: 0%;
    color: #141414;
    padding-bottom: 16px;
}

.about_container-top-box-text2{
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 17px;
    line-height: 25.5px;
    letter-spacing: 0%;
    color: #141414;
}

.about_container-top-news{
    width: 100%;
    max-width: 323px;  
    display: flex;   
    flex-direction: column;   
    gap: 100px; 
}

.about_container-top-news-card{
    width: 100%;
    max-width: 323px;  
    display: flex;   
    flex-direction: column;  
    gap: 11px;
}

.about_container-top-news-card-top{
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 16.58px;
    letter-spacing: 2.76px;
    text-transform: uppercase;
    color: #99823D;
}

.about_container-top-news-card-top span{
    margin: 0 17px;
}

.about_container-top-news-card-text{
    font-family: Teko;
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;
    line-height: 26.11px;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #141414;
}

.about_container-bottom{
    width: 100%;
    max-width: 1176px;  
    display: flex;
    justify-content: space-between;
    align-items: center;   

}

.about_container-bottom-card{
    width: 100%;
    max-width: 118px;  
    display: flex;    
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.about_container-bottom-card-title{
    font-family: Teko;
    font-weight: 700;
    font-style: Bold;
    font-size: 59px;
    line-height: 58.65px;
    letter-spacing: 0%;
    text-align: center;
    color: #141414;
}

.about_container-bottom-card-text{
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 17.85px;
    letter-spacing: 2.97px;
    text-align: center;
    text-transform: uppercase;
    color: #99823D;
}

.new{
    background: #FFFFFF;
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 60%, rgba(235, 235, 235, 1) 0%);
    margin-bottom: 62px;
}

.new-img{
    width: 100%;
    max-width: 11px;
    margin: 0 auto;
    margin-top: 62px;
}

.new_container{
    width: 100%;
    max-width: 1304px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.new_container-card{
    width: 100%;
    max-width: 412px;    
    position: relative;
    height: 342px;
}

.new_container-card-grid{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
}

.new_container-card-new{
    width: 103px;
    height: 34px;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.new_container-card-new-text{
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 16.32px;
    letter-spacing: 2.72px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.new_container-card-design{
    width: 206px;
    height: 102px;
    background-color: #99823D;
    display: flex;
    justify-content: center;
    position: absolute;    
    bottom: 0;
    right: 0;
    z-index: 7;
}

.new_container-card-design1{
    width: 206px;
    height: 102px;
    background-color: #99823D;
    display: flex;
    justify-content: center;
    position: absolute;    
    bottom: 0;
    right: 0;    
    z-index: 9;
}

.new_container-card-design-text{
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 34px;
    letter-spacing: 2.76px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-right: 10px;
}

.new_container-card-house{
    width: 378px;
    height: 68px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    position: absolute;  
    left: 0;    
    bottom: 0;
    z-index: 12;
}

.new_container-card-house-text{
    font-family: Teko;
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;
    line-height: 26.11px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-top: 15px;
}

.services{
    width: 100%;
    max-width: 1176px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 107px;
}

.services-sub{
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 16.58px;
    letter-spacing: 2.76px;
    text-align: center;
    text-transform: uppercase;
    color: #99823D;
}

.services-title{
    font-family: Teko;
    font-weight: 700;
    font-style: Bold;
    font-size: 53px;
    line-height: 52.96px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #141414;
    max-width: 801px;
    padding-top: 5px;
    padding-bottom: 95px;
}

.services_container{
    width: 100%;
    max-width: 1176px;    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 66px;
    column-gap: 100px;
}

.services_container-card{
    width: 100%;
    max-width: 292px;
    display: flex;     
    flex-direction: column;
}

.services_container-card-top{
    width: 100%;
    max-width: 240px;
    display: flex;    
    align-items: center;
    margin-bottom: 18px;
}

.services_container-card-top-box{
    width: 100%;
    max-width: 158px;
    display: flex; 
    flex-direction: column;
    margin-left: 17px;
}

.services_container-card-top-box-sub{
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 16.58px;
    letter-spacing: 2.76px;
    text-transform: uppercase;
    color: #99823D;
}

.services_container-card-top-box-title{
    font-family: Teko;
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;
    line-height: 26.11px;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #141414;
    padding-top: 11px;
}

.services_container-card-text{
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 17px;
    line-height: 25.5px;
    letter-spacing: 0%;
    color: #141414;
}

.services-but{
    width: 100%;
    max-width: 392px;
    background-color: #99823D;
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 17.85px;
    letter-spacing: 2.97px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    padding: 25px 118px 25px 121px;
    margin-top: 122px;
}

.sponsors{
    background-color: #EBEBEB;
}

.sponsors_container{
    width: 100%;
    max-width: 1168px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 68px;
    padding-bottom: 135px;
}

footer{
    background-color: #EBEBEB;
    position: relative;
}

.footer_top{
    width: 100%;
    max-width: 1304px;
    margin: 0 auto; 
    background-color: #3D3D3D;
    padding: 68px 68px 34px 68px;
}

.footer_top-container{
    max-width: 1168px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.footer_top-container-nav{
    width: 100%;
    max-width: 559px;    
    display: flex;
    justify-content: space-between;
}

.footer_top-container-nav-link{
    text-decoration: none;
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 34px;
    letter-spacing: 2.76px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer_bottom{
    width: 100%;
    margin: 0 auto;     
    background-color: #141414;
    height: 239px;
}

.footer_bottom-container{
    width: 100%;
    max-width: 1168px;  
    margin: 0 auto;  
    display: flex;
    justify-content: space-between;   
    padding-top: 189px;
    padding-bottom: 17px;
}

.footer_bottom-container-nav{
    width: 100%;
    max-width: 317px;  
    display: flex;
    justify-content: space-between;   
    align-items: center;     
}

.footer_bottom-container-nav-link{
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 34px;
    letter-spacing: 2.76px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.footer_bottom-container-text{
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 34px;
    letter-spacing: 2.76px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFFBF;
}

.footer_bottom-container-text span{
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 34px;
    letter-spacing: 2.76px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer_absolute{
    width: 100%;
    max-width: 1168px;  
    margin: 0 auto;  
    background-color: #99823D;    
    position: absolute;
    top: 104px;
    left: 50%;
    transform: translateX(-50%);
    padding: 68px;
}


.footer_absolute-container{
    width: 100%; 
    display: flex;  
    max-width: 1032px;
    gap: 17px;
}

.footer_absolute-container-input{
    width: 100%;
    max-width: 860px;    
    background-color: #FFFFFF; 
    border: none;
    padding: 17px 564px 17px 40px;
}

.footer_absolute-container-input::placeholder{
    font-family: Open Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 11px;
    line-height: 34px;
    letter-spacing: 2.76px;
    text-align: center;
    text-transform: uppercase;
    color: #3D3D3D;
}

.footer_absolute-container-button{
    width: 100%;
    max-width: 155px;      
    background-color: #141414;
    font-family: Open Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 11px;
    line-height: 34px;
    letter-spacing: 2.76px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 17px 36px;
    border: none;
}